<div class="unsubscrib_confim">
  <h2>本当に退会しますか</h2>
  <p class="confim_text">
    退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <%= link_to '退会しない', mypage_path, class: 'btn btn-primary' %>
  <%= link_to '退会する', customer_destroy_path, method: :patch, data: {confirm: '本当に退会しますか'}, class: 'btn btn-danger' %>
  
</div>


