<h2>商品一覧</h2>
<table class="items_table table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税込価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.tax_excluded_price %></td>
                <td><%= item.genre.name %></td>
                <% if item.is_sale %>
                    <td>
                        販売中
                    </td>
                <% else %>
                    <td>
                        販売停止中　
                    </td>
                <% end %>
                </tr>
        <% end %>
    </tbody>
</table>
