<h2>会員一覧</h2>
<table class="admin_customer_index table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= "#{customer.family_name} #{customer.first_name}" %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_unsubscrib %>
          <p class="text-secondary table_text">退会</p>
        <% else %>
          <p class="text-success table_text">有効</p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>