/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



ul {
  list-style-type: none;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-rightl: 30px;
}
.header {
 border-bottom: 1px solid ;
 width: 100%;
  
}
.header_inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-rightl: 30px;
}
.logo a {
  color: black;
  &:hover {
    opacity: 1;
    color: black;
    text-decoration: none;
  }
}
  
.nav_list {
  display: flex;
  margin-top: 12px;
}
.nav_item {
  margin-right: 20px;
  a {
   color: black; 
   &:hover {
     color: black;
     text-decoration: none;
     opacity: 0.5;
   }
}
  
}
.about {
  text-align: center;
}
.sign_up_title {
  margin-top: 10px;
}
.sign_up_form {
  margin-bottom: 30px;
  .field {
    margin-bottom: 10px;
  }
}
.login_title {
  margin-top: 10px;
}
.login_form {
  margin-bottom: 20px;
  .field {
    margin-bottom: 10px;
  }
}

.admin_signed_form {
  .field {
    margin-bottom: 10px;
  }
}
.admin_login_title {
  margin-top: 10px;
}
.customer_edit_title {
  margin-top: 10px;
}
.customer_edit_form {
  .field {
    margin-bottom: 10px;
  }
}
.unsubscrib_confim {
  margin-top: 10px;
  text-align: center;
  color: black;
}

.table_text {
  margin-bottom: 0;
}
.info_table {
  max-width: 500px;
}
.deli_to {
  // display: flex;
  margin-bottom: 20px;
  a {
    display: block;
  }
}
.order_lists {
  // display: flex;
  a {
    display: block;
  }
}
.edit_btn {
  display: inline-block;
  margin-left: 20px;
}